<section class="container-forms">
  <div class="left-half">
  </div>
  <div class="right-half">
    <div class="custom-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="row">
            <div class="col-md-10">
              <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <%= f.input :name, required: true, autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <%= f.input :photo, as: :file, label: "Avatar Picture" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="form-actions mt-4">
              <%= link_to "Back", jobs_path, class: "btn btn-primary text-white" %>
              <%= f.button :submit, "Update", class: "btn btn-success text-white float-right" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-10">
          <div class="mt-5 text-center">
            <h2>Unhappy?</h2>
            <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mt-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>