<div class="container w-50">
  <div class="container-form">
     <% if @job.name %>
      <h2 class="text-center"> Editing Job </h2>
    <% else %>
      <h2 class="text-center"> New Job </h2>
    <% end %>
    <%= simple_form_for @job do |f| %>
      <%= f.input :name, placeholder: 'Job position' %>
      <% if @job.content %>
        <%= f.input :content, input_html: { value: @job.content.html_safe } %>
      <% else %>
        <%= f.input :content, placeholder: 'Job details' %>
      <% end %>
      <% if @job.cnpj %>
        <%= f.input :cnpj, hint: "Only numbers", input_html: { value: @job.cnpj.scan(/\d/).join, type: "number" } %>
      <% else %>
        <%= f.input :cnpj, placeholder: '00000000000000', hint: "Only numbers", input_html: { type: "number" } %>
      <% end %>
      <%= f.input :amount, placeholder: 'Number of openings' %>
      <%= link_to 'Back', jobs_path, class: 'btn btn-primary mt-2' %>
      <%= f.submit class: 'btn btn-success float-right text-white mt-2' %>
    <% end %>
  </div>
</div>