<div class="d-flex justify-content-end flex-column">
  <div class="title-job">
    <h1><%= @job.name.upcase %></h1>
  </div>

  <div class="container-all d-flex justify-content-around">
    <div class="card card-info ">
      <div class="info-name-company d-flex justify-content-center">
        <p><%= @job.company_name %></p>
      </div>
      <div class="info-cnpj d-flex justify-content-center">
        <p>CNPJ: <%= @job.cnpj %></p>
      </div>
      <div class="info-phone d-flex justify-content-center">
        <p><%= @job.phone %></p>
      </div>
    </div>

    <div class="card card-content-job">
      <h2 class='style-content'>
        <%= @job.content %>
      </h2>
    </div>
  </div>
</div>
<div class="btn-apply">
  <%= link_to 'Apply job', jobs_path, class: 'btn btn-primary' %>
</div>


