<div class="d-flex justify-content-end flex-column">
  <div class="mb-4 mt-5 text-center">
    <p class="title-job text-white">
      <%= @job.name.upcase %>
    </p>
  </div>

  <div class="container-all d-flex justify-content-around">
    <div class="card card-info d-flex justify-content-center align-items-center">
      <div class="info-name-company">
        <p><%= @job.company_name %></p>
      </div>
      <div class="info-cnpj">
        <p>CNPJ: <%= @job.cnpj %></p>
      </div>
      <div class="info-phone">
        <p><%= @job.phone %></p>
      </div>
    </div>

    <div class="card card-content-job scrollbar">
      <textarea class="style-content scrollbar" disabled>
        <%= @job.content %>
      </textarea>
      <br>
      <% if current_user.id == @job.user_id %>
        <strong>Number of openings:</strong>
        <p> 
          <%= @job.amount %> 
        </p>
        <strong>Candidates:</strong>
        <% @job.enrollments.each do |enrollment| %>
          <p>
            <%= enrollment.user.name %>, applied on <%= enrollment.created_at.strftime("%d %b. %Y") %> - Email: <%= enrollment.user.email %> 
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="btn-block text-center mt-5">
  <% if @job.user_id == current_user.id %>
    <%= link_to 'Back', jobs_path, class: 'btn btn-lg btn-primary text-white' %>
    <%= link_to "✏️ Edit Job", edit_job_path(@job), class: "btn btn-lg btn-info card-link text-white" %>
  <% elsif @enrollment.present? %>
    <%= link_to 'Cancel my application', enrollment_path(@job), class: 'btn btn-lg btn-danger text-white', method: 'DELETE', data: { confirm: 'Are you sure?'} %>
  <% else %>
    <%= link_to 'Apply to job', job_enrollments_path(@job), class: 'btn btn-lg btn-success text-white', method: 'POST' %>
  <% end %>
</div>


