<div class="d-flex justify-content-end flex-column">
  <div class="title-job">
    <h1><%= @job.name.upcase %></h1>
  </div>

  <div class="container-all d-flex justify-content-around">
    <div class="card card-info d-flex justify-content-center align-items-center">
      <div class="info-name-company">
        <p><%= @job.company_name %></p>
      </div>
      <div class="info-cnpj">
        <p>CNPJ: <%= @job.cnpj %></p>
      </div>
      <div class="info-phone">
        <p><%= @job.phone %></p>
      </div>
    </div>

    <div class="card card-content-job scrollbar">
      <p class='style-content'>
        <%= @job.content %>
      </p>
    </div>
  </div>
</div>
<div class="btn-apply">
  <%= link_to 'Apply to job', jobs_path, class: 'btn btn-primary' %>
</div>


