<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% if user_signed_in? %>
    <%= link_to jobs_path, class: "navbar-brand" do %>
      <%= image_tag "https://i.imgur.com/x2QGe6G.png" %>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://i.imgur.com/x2QGe6G.png" %>
    <% end %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <p class="nav-link mt-2"><%= current_user.name %></p>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-toggle" id ="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, gravity: :face, class: "avatar" %>
            <% else %>
              <%= image_tag "https://i.imgur.com/3GGNdM6.png", class: "avatar" %>
            <% end %>
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account Settings", edit_user_registration_path , class: "dropdown-item" %>
            <%= link_to "All Jobs", jobs_path , class: "dropdown-item" %>
            <%= link_to "Create Job", new_job_path , class: "dropdown-item" %>
            <%= link_to "My Jobs", mine_jobs_path , class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-primary text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
